@import '../../../styles/colors';
@import '../../../styles/mixins';

.button {
  background: $buttonBackground;
  border-radius: 7px;
  color: $defaultTextColor;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  padding: 10px;
  text-align: center;
  transition: 0.3s all;
  user-select: none;

  &.animateHover {
    &:hover:not(.disabled) {
      background: $buttonBackgroundHover;
      transform: scale(1.1);
    }
  }
}

.disabled {
  cursor: default;
  opacity: 0.8;
}
