@import '../../styles/mixins';
@import '../../styles/sizing';

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    color: white;
    font-family: 'Chilanka', sans-serif;
    font-size: 4em;
    margin: 75px auto;
  }

  .newGame {
    height: 275px;
  }

  .menuButton {
    @include fadeInAnimation();

    background: black;
    font-size: 2.5em;
    padding: 10px 15px;
  }
}

@media screen and (max-width: $smallScreen) {
  .menu {
    h1 {
      font-size: 3em;
    }

    .newGame {
      height: 125px;
    }

    .menuButton {
      font-size: 2em;
    }
  }
}
