@import '../../styles/mixins.scss';

.menu {
  align-items: center;
  display: flex;
  height: 70vh;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 750px;

  .menuButton {
    @include fadeInAnimation();

    background: black;
    font-size: 3em;
    width: 150px;
  }
}
