@import '../../styles/mixins.scss';

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 75px auto;
  max-width: 750px;

  .newGame {
    height: 300px;
  }

  .menuButton {
    @include fadeInAnimation();

    background: black;
    font-size: 2.5em;
    padding: 10px 15px;
  }
}
