@import '../../../styles/sizing.scss';

.scoreboard {
  background: white;
  border: 2px solid black;
  display: flex;
  font-size: 1.3em;
  margin: 10px auto;
  padding: 5px;
  user-select: none;
  width: 650px;

  .section {
    border: 3px solid black;
    padding: 10px;
    width: 50%;

    .scoreLine {
      display: flex;
      margin: 5px;

      .scoreLabel {
        padding: 5px;
        width: 70%;
      }

      .scoreValue {
        border: 2px solid black;
        height: 15px;
        margin: 0 3px;
        padding: 5px;
        text-align: center;
        width: 15%;
      }

      .scoreAvailable {
        border: 2px solid black;
        height: 15px;
        margin: 0 3px;
        padding: 5px;
        text-align: center;
        width: 15%;
      }
    }
  }
}

@media screen and (max-width: $smallScreen) {
  .scoreboard {
    font-size: 1em;
    margin: 0;
    width: 90%;

    .section {
      border-width: 1px;
      padding: 0;
    }
  }
}
