@import '../../../styles/mixins';

.newGame {
  display: flex;
  margin: auto;
  width: 90%;

  .menuButton {
    @include fadeInAnimation();

    background: black;
    font-size: 3em;
    margin: 0 20px;
    width: 150px;
  }
}
