@import '../../styles/colors';
@import '../../styles/sizing';

.header {
  background: $gray-70;
  color: white;
  display: flex;
  height: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: $maxContentWidth;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 5;

  .menuIcon {
    cursor: default;
    margin: 0 20px;
    transform: rotate(90deg);
    user-select: none;
  }

  .player {
    align-content: center;
    display: flex;
    font-family: 'Inconsolata', monospace;
    line-height: 25px;
    white-space: nowrap;
  }
}

.headerMenu {
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 25px;
  z-index: 10;

  .menuButton {
    background: $gray-75;
    border-radius: 0;
    width: 150px;

    &:hover {
      background: $gray-60 !important;
      transform: none !important;
    }
  }
}
