.gameBoard {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  overflow: hidden;
  width: 100%;

  .buttonContainer {
    display: flex;

    .rollButton,
    .playButton {
      font-size: 1.5em;
      margin: 0 10px;
      width: 100px;
    }
  }
}
