.diceContainer {
  display: flex;
  margin: 20px auto;

  .die {
    align-items: center;
    background: white;
    border: 5px solid black;
    border-radius: 10px;
    cursor: default;
    display: flex;
    font-size: 6em;
    font-family: 'Exo 2', sans-serif;
    height: 100px;
    justify-content: center;
    margin: 10px;
    width: 100px;
    user-select: none;

    &.locked {
      background: #fbeec1;
      border-color: #379683;
    }
  }
}
