/* stylelint-disable */
@import './styles/colors';
@import './styles/sizing';

body {
  background-color: $gray-30;
  box-shadow: inset 0 0 25px black;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0 auto;
  max-width: $maxContentWidth;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  border: 1px solid $gray-20;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: $gray-20;
  border: 4px solid transparent;
  background-clip: content-box;

  &:hover {
    background-color: $gray-40;
  }

  &:active {
    background-color: $gray-60;
  }
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  box-sizing: border-box;
  border: 1px solid $gray-20;
}

::-webkit-scrollbar-button:single-button {
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar-button:horizontal:end:increment:single-button { /* Right */
  background-size: 45%;
}

::-webkit-scrollbar-button:horizontal:start:decrement:single-button { /* Left */
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment:single-button { /* Down */
  display: none;
}

::-webkit-scrollbar-button:vertical:start:decrement:single-button { /* Up */
  background-size: 70%;
  display: none;
}

::-webkit-scrollbar-corner {
  background: $gray-2-5;
  border-right: 1px solid $gray-20;
  border-bottom: 1px solid $gray-20;
}
