@import '../../../styles/mixins';

.playerGames {
  border-top: 5px solid black;
  height: 225px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 25px 0;
  width: 95%;

  .gameContainer {
    display: flex;

    .game {
      @include fadeInAnimation();

      background: $gray-50;
      border: 2px solid black;
      display: flex;
      flex: 1 1 150px;
      flex-direction: column;
      font-size: 1.5em;
      height: 175px;
      justify-content: space-evenly;
      margin: 0 10px;
      padding: 10px 35px;
      text-align: center;

      &.gameOver {
        background: $gray-65;
        opacity: 0.9;
      }

      .gameScore {
        font-size: 0.8em;
      }
    }
  }
}
